@model ChillZone.Web.ViewModels.Home.PostViewModel

<div class="form-group">
    @Html.LabelFor(m => m.Comments, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Comments, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default"  value="Post Comment" />
    </div>
</div>