@model ChillZone.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>Latest Posts</h1>
<div class="row">
    @foreach (var post in Model.Posts)
    {
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                      </div>
                <div class="span10">
                    <a href="Post/@post.Id"><img src="@post.SharedPhotoUrl" width="300" class="img-responsive" /></a>
                    <br />
                    <div>Created by:@post.Author.UserName</div>
                    <div>Category <a href="Category/@post.Category">@post.Category</a></div>
                </div>
            </div>
        </div>
        <br />
    }
</div>
<h2>Categories</h2>
<div class="row">
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-2">
            <a href="Category/@category.Name" class="btn btn-info"> @category.Name</a>
        </div>
    }
</div>