@model ChillZone.Web.ViewModels.Home.PostViewModel
@{
    ViewBag.Title = "ById";
}
<div>
    <div><h3>@Model.Title</h3></div>
    <div>
        <a href="@Model.SharedPhotoUrl"><img src="@Model.SharedPhotoUrl" /></a>

    </div>
    <div>
        Category: @Model.Category
    </div>
</div>
