@model ChillZone.Web.ViewModels.Home.PostViewModel
@{
    ViewBag.Title = "ById";
}
<div>
    <a href="@Model.SharedPhotoUrl"><img src="@Model.SharedPhotoUrl" /></a>

</div>
<div>
    Category: @Model.Category
</div>

