@model ChillZone.Web.ViewModels.Home.PostCategoryViewModel
@{
    ViewBag.Title = "Category";
}
<div>
    @foreach (var post in Model.Posts)
    {
        <div><h3>@post.Title</h3></div>
        <div>
            <a href="/Post/@post.Id">
                <img src="@post.SharedPhotoUrl" />

            </a><div>
            </div>
            <div>
                Category: @post.AuthorId
            </div>
        </div>
        <br />
    }
</div>