@model ChillZone.Web.ViewModels.Home.PostCategoryViewModel
@{
    ViewBag.Title = "Category";
}
<div>
    @foreach (var post in Model.Posts)
    {
        <div><h3><a href="/Post/@Model.Id">@post.Title</a></h3></div>
        <div>
            <a href="/Post/@post.Id">
                <img src="@post.SharedPhotoUrl" />
            </a><div>
            </div>
            <div>
                Author: @post.Author.UserName
            </div>
        </div>
        <br />
    }
</div>